body {
    background-color: #333;
  }

  .topToolbox {
    width: 100%;
    overflow: auto;
  }

  .topToolbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .topToolbox li {
    float: left;
    height: 46px;
    border-style: solid;
    border-color: gray;
    border-width: thin;
    margin-right: 10px;
    background-color: #595959;
  }

  .topToolbox li span {
    vertical-align: super;
  }

  .topToolbox a:hover {
    background-color: #111;
  }

  .topToolbox a {
    width: 92%;
    float: left; 
    text-align: center; 
    padding: 5px 5px; 
    transition: all 0.3s ease; 
    color: white; 
    text-decoration: none;
  }

  .topToolbox i {
    font-size: 36px;
  }

  .margin-10px {
    margin-top: 10px;
  }

  .tasksTable {
    height: 473px;
    width: 100%;
  }

  .tasksFields ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .tasksFields li {
    float: left;
  }

  .tasksFields .tag {
    width: 70px;
    border-radius: 4px;
    height: 15px;
  }

  .tasksFields .taskName {
    width: 536px;
    margin-left: 3px;
    border-radius: 4px;
    height: 15px;
  }

  .tasksFields .backspace {
    position: absolute;
    padding-left: 597px;
    margin-top: 3px;
  }